/*  
 *  colors
 */
:root {
  /* site colors */
  --light-blue: #0DC8F6;
  --ruby: #E71B23;
  --pale-red: #E55743;
  --dark-grey: #626262;
  --light-grey: #767F7F;
  --pale-black: #212121;
  --white: #FFFFFF;
  --nav-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
  --footer-shadow: 0px 3px 50px 0px rgba(43,45,66,0.4);
  /* syntax highlight */
  --base03: #002b36;  /* background */
  --base02: #073642;  /* other background */
  --base01: #586e75;  /* comments / secondary content */
  --base1: #93a1a1;  /* body text / default code / primary content */
  --yellow: #b58900;  /* keyword */
  --orange: #cb4b16;  /* constants */
  --red: #dc322f;  /* regex, special keywords */
  --magenta: #d33682;  /* not sure what to do with this color yet */
  --violet: #6c71c4;  /* not sure what to do with this color yet */
  --blue: #268bd2;  /* reserved keywords */
  --cyan: #2aa198;  /* strings, numbers */
  --green: #859900;  /* operators, other keywords */
}

/*  
 *  media queries
 */
@media all {
	.page-break	{ display: none; }
	.no-web, .no-web * {
	  display: none;
	}
}

@media print {
  @page {
    size: 215.9mm 279.4mm;
    margin: 0mm;
  }
  body {
    width: 1170px;
    font-size: 7pt;
  }
  h1 {
   font-size: 14pt; 
  }
  h2, h3 {
    font-size: 12pt;
  }
  #rbmv-resume {
    float: right;
    height: auto;
    width: 10em;
  }
  .no-print, .no-print * {
	  display: none !important;
	}
	.no-web, .no-web * {
	  display: block;
	}
  .page-break	{ 
	  display: block; 
	  page-break-before: always; 
	}
}

/*  
 *  tags
 */
a {
  color: var(--pale-red);
}

a.anchor {
  display: block;
  position: relative;
  top: -45px; /* fixed navbar height */
  visibility: hidden;
}

a:hover {
  color: var(--ruby);
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h4.author, 
h4.date {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  height: 100%;
}

/*  
 *  ids
 */
#header.fluid-row {
  margin-top: 2em;
  margin-bottom: 3em;
}

#img-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rbmv {
  height: auto;
  width: 4em;
}

#rbmvFooter {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 25em;
}

#rbmvFooter.footer {
  background-color: var(--pale-black);
  padding: 4% 8%;
  margin-top: 7em;
  box-shadow: var(--footer-shadow);;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

#rbmvFooter .footer {
  color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

#scrollTop {
  color: #FFFFFF!important; /* white */
}

/*  
 *  classes
 */
.btn-outline-primary {
  border-color: var(--pale-red);
  color: var(--pale-red);
}

.btn-outline-primary:hover {
  border-color: var(--ruby);
  background-color: var(--ruby);
  color: var(--white);
}

.btn-outline-secondary {
  border-color: var(--dark-grey);
  color: var(--dark-grey);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.btn-outline-secondary:hover {
  border-color: var(--pale-black);
  background-color: var(--pale-black);
  color: var(--white);
}

.disqusPadding {
  padding: 80px 5%;
}

.footerContent {
  color: var(--dark-grey);
  font-size: 16px;
}

.footerContent a {
  color: var(--dark-grey);
}

.footerContent a:hover {
  color: var(--light-grey);
}

.navbar-default {
  background-color: var(--light-blue);
  color: var(--pale-black);
  font-weight: 300;
  font-size: 16px;
  box-shadow: var(--nav-shadow);
}

.navbar-default .navbar-brand {
  color: var(--pale-black);
}

.navbar-brand {
  padding: 3px 25px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: var(--white);
  background-color: var(--pale-black);
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a {
  color: var(--pale-black);
  font-weight: 300;
}

/*
 * Solarized Dark 
 * http://ethanschoonover.com/solarized
 */

pre, code { font-family: 'Roboto Mono', monospace ; font-weight: 300; }
pre { background-color: var(--base03); color: var(--base1); }
code.sourceCode .kw { color: var(--blue); font-weight: 700; } /* Keyword */
code.sourceCode .dt { color: var(--cyan); } /* DataType */
code.sourceCode .dv { color: var(--base01); } /* DecVal */
code.sourceCode .bn { color: var(--orange); } /* BaseN */
code.sourceCode .fl { color: var(--cyan); } /* Float */
code.sourceCode .ch { color: var(--red); } /* Char */
code.sourceCode .st { color: var(--green); } /* String */
code.sourceCode .co { color: var(--base01); font-style: 100i; } /* Comment */
code.sourceCode .ot { color: var(--base1); } /* Other */
code.sourceCode .al { color: var(--green); font-weight: 700; } /* Alert */
code.sourceCode .fu { color: var(--blue); } /* Function */
code.sourceCode .er { color: var(--red); font-weight: 700; } /* Error */
code.sourceCode .wa { color: var(--base1); font-weight: 700i; } /* Warning */
code.sourceCode .cn { color: var(--orange); } /* Constant */
code.sourceCode .sc { color: var(--red); } /* SpecialChar */
code.sourceCode .vs { color: var(--cyan); } /* VerbatimString */
code.sourceCode .ss { color: var(--cyan); } /* SpecialString */
code.sourceCode .im { color: var(--red); } /* Import */
code.sourceCode .va { color: var(--blue); } /* Variable */
code.sourceCode .cf { color: var(--green); font-weight: 700; } /* ControlFlow */
code.sourceCode .op { color: var(--yellow); } /* Operator */
code.sourceCode .bu { color: var(--blue); } /* BuiltIn */
code.sourceCode .ex { } /* Extension */