<header class="site-header">

  <!-- global nav -->
  <div class="navbar-wrapper">
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-navicon"></i>
      </a>
        <div class="trigger">
          {% assign sorted_pages = site.pages | sort:"name" %}
            {% for node in sorted_pages %}
              {% if node.title %}
                <a class="page-link" href="{{ node.url }}" >{{ node.title }}</a>
              {% endif %}
            {% endfor %}
              <span class="search">
                <i class="fa fa-search fa-2x"></i>
              </span>
        </div>
    </nav>
    {% comment %}
    <div class="breadcrumbs">

      <ol>
        <li></li>
      </ol>
    </div>
  </div>
  {% comment %}
</header>
