<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      <!-- global nav -->
      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <i class="fa fa-navicon"></i>
        </a>
        <div class="trigger">
          {% assign sorted_pages = site.pages | sort:"name" %}
            {% for node in sorted_pages %}
              {% if node.title %}
                <a class="page-link" href="{{ node.url }}" >{{ node.title }}</a>
              {% endif %}
            {% endfor %}
        </div>
      </nav>
        <!-- rest of body code -->
        <div class="page-content">
          <div class="wrap">
            <div class="home2">
              {{ content | slideshows }}
            </div>
          </div>
        </div>

  {% include footer_page.html %}

    </body>
</html>
